.sites {
}
.console-log {
    padding: 5px;
}

.sites ul {
    list-style-type: none;
    margin: 0;
    position: fixed; /* Make it stick, even on scroll */
}

.sites li {
  display: inline;
  padding: 5px;
}

.commands {
  visibility: hidden;
}

#overlay {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
    color: white;
}
